/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

/* body{
    width: 100%;
    min-height:100;
} */
/* .media{
    display: block;
} */
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

/* Slideshow container */
.slideshow-container {
  width: 46%;
  position: relative;
  margin: end;
  margin-left: 200px;
  padding-top: 200px;
  padding-bottom: 40px;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 7px;
  width: 30px;
  margin: 0 0px;
  background-color: orangered;

  display: inline-block;
  transition: step-start;
  margin-bottom: 20px;
  
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.text{
    background-color: rgb(235, 226, 226);
    text-align: left;
    color: black;
    width: 96%;
    margin-left: 2%;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* height: 140px; */
   
   
  

}
.text p{ text-decoration: underline;
    text-decoration-color:rgb(219, 163, 9);
    text-decoration-thickness: 5px;
    /* padding-bottom: 20px; */
    padding-top: 0px;

}
/* #final{
    
    border:1px solid red;
    margin-right: 50px;
}  */
#container{
    
   width:50%;
   margin-left: 8%;
}
.slideshow-container>h1{
    text-align: center;
    position: relative;
    text-decoration: underline;
    text-decoration-color:rgb(219, 163, 9);
    text-decoration-thickness: 5px;
    /* padding-bottom: 20px; */
    padding-top: 0px;
    


}
#container>div>a>img{
    
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#container>div>div{
   
    margin-bottom: 100px;
    font-family: playfair-display;
    
    padding-left: 5px;
    width: 100%;
}


    hr{
        margin-bottom: 20px;
    }


#container>div>div>h1{
    font-size: 25px;
    line-height: 25px;
    margin-top: 10px;
}
#container>div>div>P:first-child{
    text-decoration: underline;
    text-decoration-color:rgb(219, 163, 9);
    text-decoration-thickness: 4px;
}
h1+p{
    color:grey;
    

}
/* div>p:first-child {
    text-decoration: underline;
    text-decoration-color:rgb(219, 163, 9);
    text-decoration-thickness: 3px;
    
  
    
} */
a+div{
    margin: auto;
    width: 90%;
}
div>p:last-child{
    margin-top:10px;
}
#main {
    margin:auto;
    margin-left: 100px;
    display: flex;
    
    

}
/* body>p{
    margin-left: 15%;
    margin-top: 15%;
    font-size: small;
    padding-bottom: 50px;
} */
#read {
    margin-top: 50px;
    /* border: 1px black solid; */
    width: 30%;
}
#read> h1 {
    text-align: left;
    text-decoration: underline;
    text-decoration-color:rgb(219, 163, 9);
    text-decoration-thickness: 5px;
    font-size: 23px;
    margin-left: 20px;
    font-style: italic;
    margin-bottom: 0px;
    
   
 
    
}
/* #big{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 900 27px/35px Arial;
    letter-spacing: 0;
    color: #000;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center; */


#read > div {
    border:0.5px solid rgb(211, 210, 210);
    width: 90%;
    display: flex;
}

#read div > h1 {
    font-size: 25px;
    /* border: 5px green solid; */
    width: 100%;
    font-family: playfair-Display;
}
/* #read div + div {
    margin-left:20px ;
    margin-right: 15px;
} */
#read div:first-child>h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 5px;
    
}
#read div:last-child>h1 {
    font-size: 20px;
    line-height: 22px;
    font-family: playfair-display;
}
#read > div {
    margin-left: 20px;
}
#btn{
    margin-left: 40%;
    /* padding: 5px;
    background-color: white;
    border:1px solid rgb(219, 163, 9); */
}
#btn>a>button{
    padding: 5px 10px;
    background-color: white;
    border:1px solid rgb(219, 163, 9);
    border-radius: 5px;
    margin: 7px;


}
#btn>a>button:hover{
    background-color: rgb(219, 163, 9);
    color: white;
    cursor: pointer;

}
.slide{
    border: 1px solid green;
    display: flex;
}
.slide>img{
    display: inline-flex;
}
/* body>p{
    margin-left: 15%;
    margin-top: 15%;
    font-size: small;
    padding-bottom: 5px;
    border: 1px solid red;

} */
#hint>p{
    
    width: 20%;
    margin-left: 180px;
    margin-bottom: -200px;
    padding-top: 200px;
    font-size: smaller;
    


}
.empty{
    width: 100%;
    background-color: #717171;
    height: 7px;

}

@media(max-width:500px) and (min-width:300){
    .media{
        display: block;
    }
}


@media(max-width:1000px)and (min-width:500){
    .media{
        display: block;
    }
}


@media(max-width:2000px)and (min-width:1000){
    .media{
        display: block;
    }
}


