* {
margin: auto;
padding: auto;
box-sizing: border-box;
}
header{
width:100%;
height: 60px;
display: flex;
justify-content: center;
background-color: black;
z-index: 99999999;
}
.container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0%;
max-width: 960px;
margin:auto;
position: relative;
}
.menu-btn{
display: flex;
flex-direction: column;
padding: 5px;
cursor: pointer;
margin-right: 300px;
}
.menu-btn > span{
width:22px;
height:2px;
background-color: white;
margin-bottom: 3px;
}
.logo{
justify-content: center;
text-align: center;
margin-left: 500px;
}
.social > div{
display: flex;
align-items: center;
border-right: 1px solid gray;
padding:0 30px 0 0;
position: absolute;
top: 5px;
right: px;
bottom: 5px;
margin-left: 100px;
}
.social>div > a{
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin: 0px;
padding: 10px;
}
a{
text-decoration: none;
cursor: pointer;
outline: 0;
color: white;
}
.search-box{
display: flex;
margin-left: 400px;
}
.inpute-wrap{
position: absolute;
top: -57px;
right: 47px;
left: 4px;
transition: all 500ms ease;
padding: 2px 0;
height: 41px;
}
.search-suggestions {
position: absolute;
width: 95%;
left: 4px;
top: 41px;
background: #fff;
box-shadow: 7px 7px 10px rgb(0 0 0 / 20%);
border-radius: 0 0 5px 5px;
}
.main-menu-wrap .menu-wrap {
display: flex;
white-space: nowrap;
padding: 0;
width:300%;
height: 50px;
display: flex;
justify-content: center;
}

header .header-wrap {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0;
}
.main-menu-wrap {
-webkit-box-shadow: 0 3px 6px 0 #d6d6d6;
box-shadow: 0 3px 6px 0 #d6d6d6;
background: #fff;
}
.main-menu-wrap .menu-wrap {
display: flex;
white-space: nowrap;
padding: 0;
}
.main-menu {
margin-right: 10px;
border-right: #9F9F9F solid 1px;
display: flex;
padding: 0;
white-space: nowrap;
}
.container{
max-width: 960px;
margin: 0 auto;
position: relative;
}
.main-menu-wrap .main-menu {
margin-right: 10px;
border-right: #9F9F9F solid 1px;
display: flex;
padding: 0%;
}
ul{
padding: 0;
margin: 0;
list-style: none;
}
.main-menu li, .main-menu-wrap .sub-menu li {
padding: 20px;
border-bottom: transparent solid 2px;
display: flex;
}
li{
display: list-item;
justify-content: space-around;
}
.main-menu-wrap .sub-menu li {
padding: 8px 0 6px;
border-bottom: transparent solid 2px;
display: flex;
}
.main-menu-wrap .sub-menu li.hdfc-events, .main-menu-wrap .sub-menu li.hdfc-events a {
padding: 0;
margin-left: 100px;
display: flex;
justify-content: center;
margin-top: -20px;
}
.main-menu-wrap .main-menu li, .main-menu-wrap .sub-menu li {
padding: 8px 0 6px;
border-bottom: transparent solid 2px;
}
.nav-events>a{
color: black;
justify-content: space-between;
padding: 10px;
font-family: Arial,sans-serif;

}
.sub-menu .nav-events > a{
margin-top: -25px;
}
#sidenav-wrap.open {
opacity: 1;
z-index: 1111;
}
#sidenav-wrap {
z-index:999999;
position: fixed;
top: 0;
left: 0;
width: 13%;
height: 100%;
transition: all 500ms ease;
overflow: hidden;
flex-direction: column;
background-color: gainsboro;
}

.close-sidenav {
display: flex;
justify-content: flex-end;
padding: 10px;
margin-left: 90px;
cursor: pointer;
}
.close-sidenav svg {
width: 24px;
height: 24px;
}
#mySidenav .tab-container {
border-top: #B9B9B9 solid 1px;
border-bottom: #B9B9B9 solid 1px;
flex-grow: 1;
}
.tab-container {
display: flex;
}
#mySidenav .tab {
height: 60%;
}
.tab {
background-color: #f1f1f1;
width: 50%;
height: 700px;
margin-top: 20px;
padding: 20px;
justify-content: space-around;
}

.tablinks.active {
background-color: #fff;
}
#mySidenav .tablinks svg {
fill: #B9B9B9;
width: 16px;
height: 16px;
margin-bottom: 6px;

}
#mySidenav .tablinks {
border-bottom: #ccc solid 2px;
text-align: left;
font: 600 10px/10px Arial;
letter-spacing: 0;
color: #585858;
opacity: 1;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
text-transform: capitalize;
margin-top: 20px;
margin-left: -10px;

}
#mySidenav .tab-container {
border-top: #B9B9B9 solid 1px;
border-bottom: #B9B9B9 solid 1px;
flex-grow: 1;

height: 500px;
}
.tabcontent {
display: none;
padding: 20px;
width: 70%;
border-left: none;
margin-top: 20px; 
}
#mySidenav .horizontal-share {
display: flex;
margin: 10px 0;
}
.horizontal-share {
display: flex;
padding-right: 10px;
}
#mySidenav .horizontal-share li {
margin: 0 5px;
}
.horizontal-share li {
padding: 0 2px;
}
a {
display: inline-block;
text-decoration: none;
cursor: pointer;
outline: 0;
color: #000;
justify-content: space-around;
}